<div class="container">
    <div class="row">
        {{#each projects}}

        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <img src="{{screenShot}}" alt="{{projectName}} screenshot">

                </div>
                <p class="card-title blue-grey-text darken-1">{{projectName}}</p>
                <div class="card-content">
                    <p>{{description}}</p>
                </div>
                <div class="card-action">
                    <a class="waves-effect waves-light btn btn-block blue-grey darken-1" href="{{projectLink}}">View Project</a>
                    <a class="waves-effect waves-light btn btn-block blue-grey darken-1" target="_blank" href="{{courseLink}}">View Tutorial</a>
                </div>
            </div>
        </div>

        {{/each}}
    </div>
</div>
